[Desktop Entry]
Name=Photometry
Name[de]=Photometrie
Name[pl]=Fotometria
Name[pt]=TODO
Comment=View photometric files
Comment[de]=Öffne Photometriedateien
Comment[pl]=Przeglądaj pliki fotometryczne
Comment[pt]=TODO
Exec=photometric-viewer %f
Icon=io.github.dlippok.photometric-viewer
Terminal=false
Type=Application
Categories=GNOME;Science;Utility;Viewer;DataVisualization;Engineering
OnlyShowIn=GNOME;XFCE;
Keywords=Photometry;Photometric;IES;IESNA;EULUMDAT;LDT;Lighting;Light;Lamp;Luminaire
Keywords[de]=Photometrie;IES;IESNA;EULUMDAT;LDT;Beleuchtung;Licht;Lichtverteilungskurve;Lampe;Leuchte
Keywords[pl]=Fotometria;IES;IESNA;EULUMDAT;LDT;Oświetlenie;Światło;Lampa;Oprawa;Oświetleniowa
MimeType=application/x-iesna;application/x-eulumdat
