[Desktop Entry]
Name=Photometric Viewer
GenericName=Viewing tool for photometric files
Exec=photometric-viewer %f
Icon=io.github.dlippok.photometric-viewer
Terminal=false
Type=Application
Categories=GNOME;Graphics;Viewer;DataVisualization;Engineering
OnlyShowIn=GNOME;XFCE;
Keywords=Photometry;Photometric;IES;IESNA;EULUMDAT;LDT;Lighting
MimeType=application/x-iesna
MimeType=application/x-eulumdat
