.h1 {
    font-weight: bold;
}

#photometric_diagram {
    background-color: @card_bg_color;
    border: 1px solid @shade_color;
    border-radius: 10px;
}

#photometric_diagram_preview {
    background-color: white;
    border: 1px solid @shade_color;
    border-radius: 10px;
}

#lamp-switcher-bar>actionbar>revealer>box {
   background-color: @window_bg_color;
}

.small {
    font-size: 0.8em;
}

.unknown_value {
    color: @shade_color;
}

.temperature-bar {
    background: linear-gradient(
        90deg,
        rgba(255,229,94,0.8) 0%,
        rgba(255,255,128,0.8) 20%,
        rgba(255,255,255,0.8) 40%,
        rgba(255,255,255,0.8) 60%,
        rgba(128,255,255,0.8) 80%,
        rgba(87,243,255,0.8) 100%
    );
    color: black;
    border-radius: 12px;
    padding-left: 3px;
    padding-right: 3px;

}